bot_token: 5296931890:AAFJxNv8iypM9BiqNsZ7zhFqTKanwSUEWHc
#socks5: 127.0.0.1:1080
notice: "first line\nsecond line"
admin: 820569976
errlimit: 5
cron: "1 */3 * * *"
bindmax: 33
dbfile: "e5sub.db"
lang: en_US
